body{
    background-color:#FAEBD7;
}

fieldset{
  font-size:16px;
}

.jumbotron{
  background-color:#FAEBD7;
}

.card{
  max-width:400px;
  margin: 15px auto;
}

.restaurant-detail-container{
    width:100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#642e44;
    display:inline-block;
}

.ratings-container{
  width:100%;
  padding-top:30px;
  padding-bottom: 30px;
  background-color:#527ac2;
  display:inline-block;
}

.title-card{
  max-width:700px;
  margin:0 auto;
}

.card-img-top{
  max-height:100%;
  max-width:100%;
}

.star-icon-empty{
  width:30px;
  height:30px;
  display:inline-block;
  //background-repeat:no-repeat;
  //background-image:url('../images/star-empty.svg');
}

.star-icon{
  width:30px;
  height:30px;
  display:inline-block;
  //background-repeat:no-repeat;
  //background-image:url('../images/star.svg');
}

.text-center{
  text-align:center;
}

.review-masthead{
  width:100%;
  background-color:#FAEBD7;
  padding:15px 0;
}

.date-text{
  font-size:11px;
}

.rating {
    display:inline-block;
    margin:auto;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
