<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MunchMore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">

</head>

<body>


    <header class="jumbotron">
        <div class='container-fluid'>
            <h1 class="page-title text-center">MunchMore</h1>
        </div>

        <form class="navbar-form navbar-left" id='filter-restaurants'>
            <fieldset>
                <legend aria-label="Filter By">Filter By</legend>
                <div class='form-group'>
                    <label for="cuisine-type" class="sr-only sr-only-focusable">Cuisine Type</label>
                    <select class='form-control' id="cuisine-type">
                        <option value='all'>All Cuisine</option>
                        <option value="Fine Dining">Fine Dining</option>
                        <option value="Casual">Casual</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Seafood">Seafood</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label for="maximum-price" class="sr-only sr-only-focusable">Maximum Price</label>
                    <select class='form-control' id="maximum-price">
                        <option value='5'>All Prices</option>
                        <option value="1">$</option>
                        <option value="2">$$ or less</option>
                        <option value="3">$$$ or less</option>
                        <option value="4">$$$$ or less</option>
                    </select>
                </div>
                <div class="form-group">
                    <fieldset class="rating review-rating">
                        <legend>Minimum Rating </legend>
                        <input type="radio" id="star5" name="rating" value="5" />
                        <label for="star5" title="Perfect">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" />
                        <label for="star4" title="Good">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" />
                        <label for="star3" title="Average">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" />
                        <label for="star2" title="Below Average">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" checked/>
                        <label for="star1" title="Poor">1 star</label>
                    </fieldset>
                </div>
            </fieldset>

            <button type="submit" id="filter-submit" class="btn">Update Results</button>
        </form>
    </header>

    <script id="restaurant-card-template" type="text/x-handlebars-template">​
        <div class='row'>
            {{#each this}}
            <div class='col-xs-12 col-md-6'>
                <section class="card"><h3 class='sr-only'>{{this.name}}</h3>
                    <img class="card-img-top" src="{{image}}" alt="{{image_alt}}" />
                    <div class="card-block">
                        <h3 class="card-title text-center" aria-hidden='true'>{{this.name}}</h3>
                        <p class='card-text text-center'><span class='sr-only'>{{this.rating}} out of 5 stars</span><span class='text-center' aria-hidden='true'>{{printStars this.rating}}</span></p>
                        <p class="card-text"><span class='sr-only'>Price</span>
                            <span class='dollar-signs' aria-hidden='true'>
                            {{printDollarSigns price}} -
                        </span>
                            <span class='sr-only'>
                            {{price}} out of 4 dollar signs
                        </span>
                            <i class='silverware-icon' aria-hidden='true'></i>
                            <span class='sr-only'>
                          Cuisine
                          </span> {{cuisine}}
                        </p>

                        <a href="restaurant-view.html?restaurant_id={{this.id}}" class="btn btn-primary pull-right">Open Details<span class='sr-only'> about {{this.name}}</span></a>
                    </div>

                </section>
            </div>
            {{#everyOther @index 2}}
        </div>
        <div class='row'>
            {{/everyOther}} {{/each}}
        </div>
    </script>
  <main>
    <section style='margin-top:20px;'>
    <h2 class='page-title text-center'>Restaurants</h2>
    <div class='container'>
        <div class="restaurant-list"></div>
    </div>
    </section>
  </main>


    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>

</body>

</html>
