<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>


    <div class="jumbotron">
        <div class='container'>
            <h2 class="page-title">Hello World!</h2>
        </div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="train-map.html">Leave Review</a></li>
        </ul>
    </div>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/idb.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
