<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
</head>

<body>
    <script id="shoe-template" type="x-handlebars-template">​
        {{#each this}}​
            <li class="shoes"><a href="/{{name}}">{{name}} -- Price: {{price}} </a></li>​
        {{/each}}
        ​</script>
</body>

</html>
