<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">

</head>

<body>

    <div class="jumbotron">
        <div class='container-fluid'>
            <h2 class="page-title text-center">Restaurant Reviews</h2>
        </div>
    </div>
    <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="review-modal-label">Add a Review</h4>
                </div>
                <div class="modal-body">
                    <form class='form'>
                        <div class="form-group">
                            <label for="yourName">Your Name</label>
                            <input type="name" class="form-control" id="yourName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <fieldset class="rating">
                                <legend>Rating</legend>
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Comments</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="submit" class="btn btn-primary pull-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script id="restaurant-details" type="text/x-handlebars-template">​
        <div class="card title-card center-block">
            <img class="card-img-top" src="{{image}}" alt="{{image-alt}}">
            <div class="card-block">
                <h4 class="card-title text-center">{{name}}</h4>
                <p class="card-text">{{cuisine}} {{printDollarSigns price}}</p>
                <p class='card-text'>{{rating}}</p>
                <button id="leaveReviewButton" class='btn primary' data-toggle="modal" data-target="#review-modal">Leave a Review</div>
        </div>
        </div>
    </script>


    <script id="ratings-list" type="text/x-handlebars/template">
        <div class='row'>
            {{#each this}}
            <div class='col-xs-12 col-md-6'>
                <div class="card">
                    <div class='review-masthead'>
                        <h4 class="card-title review-title text-center">
                        {{this.name}}
                      </h4>
                        <p class='card-text text-center'>{{printStars this.stars}}</p>
                    </div>
                    <div class="card-block">
                        <p class='card-text date-text'>{{this.date}}</p>
                        <p class="card-text">{{this.review}}</p>
                    </div>
                </div>
            </div>
            {{#everyOther @index 2}}
        </div>
        <div class='row'>
            {{/everyOther}} {{/each}}
        </div>

    </script>

    <div class='restaurant-detail-container'>
        <div class="restaurantNav"></div>
    </div>

    <div class='ratings-container'>
        <h2>Reviews</h2>
        <div class='container'>
            <div class="ratingsNav"></div>
        </div>
    </div>

    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/restaurantDetails.js"></script>
</body>

</html>
